# Dependencies
node_modules/
**/node_modules/

# Env
.env
.env.local
.env*.local

# Build
backend/.next/
backend/out/
mobile/android/app/build/
mobile/ios/build/
mobile/ios/Pods/

# Misc
.DS_Store
*.log
npm-debug.*
yarn-error.*
.vscode/
.idea/
coverage/
